<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form  [formGroup]="userForm" (ngSubmit)="submit()" novalidate>
    <br>
    <h3>CLIENT INFO</h3>
    
    
            <ion-item class="list">
            <ion-label color="dark">Type Of Event</ion-label>
            <ion-icon name="options" item-left></ion-icon>
            <ion-select >
            <ion-option value="wedding">Wedding</ion-option>
            <ion-option value="party">Party</ion-option>
            <ion-option value="concert">Concert</ion-option>
            <ion-option value="conference">Conference</ion-option>
    
            </ion-select>
            </ion-item>
      
    
    <ion-item  class="item" [ngClass]="{'error-border':!userForm.get('Date').valid && userForm.get('Date').touched}">
    <ion-label color="dark" stacked >Date</ion-label>
    <ion-icon name="calendar" item-left></ion-icon>
     <ion-datetime displayformat="DD/MM/YYYY" pickerformat="DD/MM/YYYY" min="2017-12-31" max="2020"  formControlName="Date"></ion-datetime>
    </ion-item>
    
    <ion-item *ngIf="userForm.get('Date').hasError('required') && userForm.get('Date').touched" class="invalid">
      <p ion-text color="danger">* Date field is required!</p>
      </ion-item>
    
    <ion-item  class="item" [ngClass]="{'error-border':!userForm.get('Time').valid && userForm.get('Time').touched}">
    <ion-label color="dark" stacked >Time</ion-label>
    <ion-icon name="time" item-left></ion-icon>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="Time"></ion-datetime>
    </ion-item>
    
    <ion-item *ngIf="userForm.get('Time').hasError('required') && userForm.get('Time').touched" class="invalid">
      <p ion-text color="danger">* Time field is required!</p>
      </ion-item>
    
    <ion-item  class="item" [ngClass]="{'error-border':!userForm.get('Location').valid && userForm.get('Location').touched}">
    <ion-label color="dark" stacked >Location</ion-label>
    <ion-icon name="pin" item-left></ion-icon>
    <ion-input type="text"   required formControlName="Location"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="userForm.get('Location').hasError('required') && userForm.get('Location').touched" class="invalid">
      <p ion-text color="danger">* Location field is required!</p>
      </ion-item>
    
    <ion-item  class="item" [ngClass]="{'error-border':!userForm.get('Email').valid && userForm.get('Email').touched}">
    <ion-label color="dark" stacked >Email</ion-label>
    <ion-icon name="mail" item-left></ion-icon>
    <ion-input type="text"   required formControlName="Email"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="userForm.get('Email').hasError('required') && userForm.get('Email').touched" class="invalid">
      <p ion-text color="danger">* Email field is required!</p>
      </ion-item>
    
      <ion-item *ngIf="userForm.get('Email').hasError('minlength') && userForm.get('Email').touched" class="invalid">
        <p ion-text color="danger">* Enter a valid Email with 8 or more characters!</p>
        </ion-item>
    
    <ion-item  class="item" [ngClass]="{'error-border':!userForm.get('Number').valid && userForm.get('Number').touched}">
    <ion-label color="dark" stacked >Contact Number</ion-label>
    <ion-icon name="call" item-left></ion-icon>
    <ion-input type="tel" maxlength="10" formControlName="Number"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="userForm.get('Number').hasError('required') && userForm.get('Number').touched" class="invalid">
      <p ion-text color="danger">* Contact Number field is required!</p>
      </ion-item>
    
      <ion-item  *ngIf="userForm.get('Number').hasError('minlength') && userForm.get('Number').touched" class="invalid">
        <p ion-text color="danger">* Phone number must be 10 digits</p>
        </ion-item>
    
    <div padding text-center>
    <button ion-button round >SUBMIT</button>     
    </div>
    
    
    </form>
</ion-content>
