page-home {
    .search{
        background-color: white;
    }
    .imgs{
        height:110px;
        width: 150px;
    }
    .img{
        border-radius:50%;
         height: 90px;
         width: 100px; 
    }
}
