<ion-header>
  <ion-navbar>
      <button ion-button menuToggle *ngIf="!isSearchbarOpened">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title align="center" *ngIf="!isSearchbarOpened"></ion-title>
    <!-- <ion-searchbar [(ngModel)]="searchDj" (ionInput)="setFilteredDj()" *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar> -->
    <ion-searchbar [(ngModel)]="searchstring" (input)="searchDJ($event)" *ngIf="isSearchbarOpened" palceholder="Search" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div align="center" class="search" *ngIf="isSearchbarOpened;else message">
        <ion-list *ngFor="let dj of filteredDjs">
          <ion-item>
          <ion-row>
            <ion-col col-4>
            <img class="img" src="{{dj.IMAGE}}"/>
            </ion-col>
            <ion-col col-6>
              <h2>{{dj.NAME}}</h2>
              <p>{{dj.LOCATION}}</p>
            </ion-col>
          </ion-row>
          </ion-item>
        </ion-list>
    </div>
    <div *ngIf="!isSearchbarOpened">
      <ion-row>
          <ion-col col-6 *ngFor="let dj of arrayDJ; let i=index">
              <ion-card align="center" (click)="gotoViewDetails(i)">
                  <img class="imgs" src="{{dj.IMAGE}}" />
                  <h2>{{dj.NAME}}</h2>
              </ion-card>
          </ion-col>
      </ion-row>
    </div>
</ion-content>